[submodule "src/ros2/rclcpp"]
	path = src/ros2/rclcpp
	url = https://github.com/nightduck/rclcpp.git
	branch = rtas2025_ae
[submodule "src/ros2/reference-system"]
	path = src/ros2/reference-system
	url = https://github.com/nightduck/reference-system.git
	branch = main
[submodule "src/ros2/ros2-end-to-end"]
	path = src/ros2/ros2-end-to-end
	url = https://github.com/HarunTeper/ros2-end-to-end.git
	branch = main
[submodule "src/ros2/rcl"]
	path = src/ros2/rcl
	url = https://github.com/ros2/rcl.git
