[submodule "src/ros2/rclcpp"]
	path = src/ros2/rclcpp
	url = git@github.com:nightduck/rclcpp.git
	branch = graph_executables
[submodule "src/ros2/reference-system"]
	path = src/ros2/reference-system
	url = git@github.com:nightduck/reference-system.git
	branch = main
[submodule "src/ros2/ros2-end-to-end"]
	path = src/ros2/ros2-end-to-end
	url = git@github.com:HarunTeper/ros2-end-to-end.git
	branch = main
[submodule "src/ros2/tracetools_analysis"]
	path = src/ros2/tracetools_analysis
	url = https://github.com/ros-tracing/tracetools_analysis.git
	branch = rolling
[submodule "src/ros2/rcl"]
	path = src/ros2/rcl
	url = git@github.com:ros2/rcl.git
	branch = rolling
